$pColor: #08d9d6;
$sColor: #ff2e63;
$darkColor: #252a34;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  max-width: 100%;
  font-family: 'STCForward', sans-serif, arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: $darkColor;
}

p {
  line-height: 30px;
}
ul {
  list-style-type: none;
}

input[type='email'],
input[type='tel'] {
  direction: ltr !important;
}

a {
  text-decoration: none;
  display: inline-block;
  color: $darkColor;
}
img {
  max-width: 100%;
}

// main-container
.main-container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  &.flex_wrap {
    flex-wrap: wrap;
  }
  &.flex_dir-col {
    flex-direction: column;
  }
  &.flex_center {
    align-items: center;
    justify-content: center;
  }
  &.flex_align-center {
    align-items: center;
  }
  &.flex_justify-between {
    justify-content: space-between;
  }
}

.btn {
  padding: 12px 32px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.btn-primary {
    background-color: $pColor;
    color: #fff;
  }
  //   &.round-outline-btn {
  //     border-radius: 100px;
  //     background-color: transparent;
  //     border: 2px solid $sColor;
  //     color: $sColor;
  //   }
  //   &.outline-btn {
  //     color: $sColor;
  //     background-color: transparent;
  //     border: 2px solid $sColor;
  //   }
  //   &.f-width {
  //     width: 100% !important;
  //   }
  //   &:disabled {
  //     background-color: #a8abae;
  //     cursor: not-allowed;
  //   }
}
